.Login {
  height: 100vh;
  &-wrapper {
    background-color: $gray-300;
  }
  &-registerLink {
    @include nav-link();
  }
}

.Register {
  height: 100vh;
  &-wrapper {
    background-color: $gray-300;
  }
  &-loginLink {
    @include nav-link();
  }
}

@media (min-width: 768px) {
  .Login-wrapper, .Register-wrapper {
    min-width: 350px;
  }
}