@mixin position-absolute0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin nav-link {
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}

@mixin hover-primary {
  background-color: $primary !important;
  color: white !important;
}

// =========================================================================
.Tag {
  display: inline-block;
  background-color: $gray-400;
  padding: 0.25rem 0.7rem;;
  margin-right: $spacer-sm;
  border-radius: 0.32rem;
  font-size: 1.12rem;
}
.Tag--pill {
  border-radius: 1.2rem;
}

.Alert {
  &-icon {
    position: absolute;
    top: $spacer-xs;
    right: $spacer-sm;
  }
}

.DatePicker > div {
  width: 100%;
  .react-datepicker {
    width: 100%;
    &__month-container{
      width: 100%;
    }
    &__month {
      width: 100%;
      margin: 0;
    }
  }
}

.Card {
  // position: relative;
  // padding-bottom: calc( 6 / 9 * 100%);
  // &-wrapper {
  //   @include position-absolute0();
  //   &-setting {
  //     position: absolute;
  //     top: $spacer-sm;
  //     right: $spacer-sm;
  //   }
  // }
  &:hover {
    box-shadow: $box-shadow-medium !important;
  }
  &-bg {
    position: relative;
    padding-bottom: calc(30 / 70 * 100%);
    &-icon {
      @include position-absolute0();
    }
  }
}

// =========================================================================
// override css of react-bootstrap and react-strap
.input-group {
  span{
    position: absolute;
    margin: 0 $spacer-sm;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  input{
    padding-left: 38px;
  }
}

.fa-2x {
  font-size: 1.15rem;
}
.fa-3x {
  font-size: 1.8rem;
}
.fa-3x {
  font-size: 2.8rem;
}
.fa-star.custom {
  color: $quaternary;
}

.alert {
  padding: $spacer-xs $spacer-sm !important;
}

.btn {
  &-secondary {
    background-color: $gray-900 !important;
  }

  &-outline-primary {
    &:hover {
      background-color: lighten($primary, 45%) !important;
      color: $primary !important;
    }
  }
}