$side-bar-left-width: 85px;
$chat-width: 320px;
.SidebarLeft {
  a {
    text-decoration: none !important;
  }
  flex: 0 0 $side-bar-left-width;
  &-tab {
    &:hover {
      background-color: $gray-200 !important;
      color: $black !important;
      .tabName {
        color: $black !important;
      }
    }

    .fa {
      color: $gray-700 !important;
    }
    .fa--active {
      color: $black !important;
    }
    .active {
      color: $black !important;
    }
  }
}

.Lesson {
  &-video {
    position: relative;
    padding-bottom: calc( 34 / 70 * 100%);
    &-container {
      @include position-absolute0;
      & > iframe {
        height: 100%;
      }
    }
  }
  &-header {
    height: 60px;
    &-left {
      flex: 0 0 $side-bar-left-width;
    }
    &-main {
      flex-grow: 1;
      &-select > div {
        width: 480px;
      }
    }
    &-right {
      flex: 0 0 $chat-width;
    }
  }
}
.Chat {
  flex: 0 0 $chat-width;
  height: calc(100vh - 60px);
  position: relative;

  &-messages {
    overflow: auto;
    // max-height: calc(100vh - 60px - 3rem);
    &-avatar {
      flex-shrink: 0;
      flex-basis: auto;
      width: 35px;
      height: 35px;
    }
  }

  &-control {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    .mb-3 {
      margin: 0 !important;
    }
  }
  .input-group {
    input {
      padding-left: $spacer-sm;
      padding-right: 1rem;
    }
    span {
      right: 0;
    }
    .fa {
      color: $primary !important;
    }
  }
}